{% extends '_base.html' %}

{#{% load book_tags %}#}

{% block page_title %}{{ book.title }} details{% endblock %}

{% block content %}
    <h1>{{ book.title|capfirst }}</h1>
    <p>{{ book.content|linebreaks }}</p>
    <p>{{ book.author|capfirst }}</p>
    <h5>{{ book.price }}</h5>
    <a href="{% url 'book_update' book.id %}"><button type="button">EDIT</button></a>
    <a href="{% url 'book_delete' book.id %}"><button type="button">DELETE</button></a>
    <br>
    <br>
    <a href="{% url 'book_list' %}">Book lists</a>
{% endblock %}